<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Settings</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<string>?.?.? (????)</string>
			<key>Key</key>
			<string>version_preference</string>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>GitHub</string>
			<key>DefaultValue</key>
			<string>https://github.com/vdhamer/Photo-Club-Hub</string>
			<key>Key</key>
			<string>githubPad</string>
			<key>SupportedUserInterfaceIdioms</key>
			<array>
				<string>Pad</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>GitHub</string>
			<key>DefaultValue</key>
			<string>https://tinyurl.com/PhClubHub</string>
			<key>Key</key>
			<string>githubPhone</string>
			<key>SupportedUserInterfaceIdioms</key>
			<array>
				<string>Phone</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>License</string>
			<key>DefaultValue</key>
			<string>https://opensource.org/license/mit</string>
			<key>Key</key>
			<string>licensePad</string>
			<key>SupportedUserInterfaceIdioms</key>
			<array>
				<string>Pad</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>License</string>
			<key>DefaultValue</key>
			<string>https://tinyurl.com/MITlicense</string>
			<key>Key</key>
			<string>licensePhone</string>
			<key>SupportedUserInterfaceIdioms</key>
			<array>
				<string>Phone</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Repository owner</string>
			<key>DefaultValue</key>
			<string>Peter van den Hamer</string>
			<key>Key</key>
			<string>owner</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Debug options</string>
			<key>FooterText</key>
			<string>Turning debug options on will enable non-standard behavior. This is used for software testing purposes. See Settings.swift source file for more info.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Load data manually</string>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>manualDataLoading</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Extra saving of data</string>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>extraCoreDataSaves</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Data refresh pending</string>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>dataResetPending288b4654</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>CoreData merge issue terminates app</string>
			<key>Key</key>
			<string>errorOnCoreDataMerge</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
