<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>About this build</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>?.?.? (????)</string>
			<key>Key</key>
			<string>appVersion</string>
			<key>Title</key>
			<string>iOS app version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>?</string>
			<key>Key</key>
			<string>appGitCommit</string>
			<key>Title</key>
			<string>iOS app commit</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>?</string>
			<key>Key</key>
			<string>appBuildDate</string>
			<key>Title</key>
			<string>iOS app built</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>?.?.?</string>
			<key>Key</key>
			<string>libraryVersion</string>
			<key>Title</key>
			<string>Library version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>N/A</string>
			<key>Key</key>
			<string>libraryCommit</string>
			<key>Title</key>
			<string>Library commit</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>N/A</string>
			<key>Key</key>
			<string>libraryCommitDate</string>
			<key>Title</key>
			<string>Library committed</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Source repository</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>https://github.com/vdhamer/Photo-Club-Hub</string>
			<key>Key</key>
			<string>githubPad</string>
			<key>SupportedUserInterfaceIdioms</key>
			<array>
				<string>Pad</string>
			</array>
			<key>Title</key>
			<string>GitHub</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>https://tinyurl.com/PhClubHub</string>
			<key>Key</key>
			<string>githubPhone</string>
			<key>SupportedUserInterfaceIdioms</key>
			<array>
				<string>Phone</string>
			</array>
			<key>Title</key>
			<string>GitHub</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>https://opensource.org/license/mit</string>
			<key>Key</key>
			<string>licensePad</string>
			<key>SupportedUserInterfaceIdioms</key>
			<array>
				<string>Pad</string>
			</array>
			<key>Title</key>
			<string>License</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>https://tinyurl.com/MITlicense</string>
			<key>Key</key>
			<string>licensePhone</string>
			<key>SupportedUserInterfaceIdioms</key>
			<array>
				<string>Phone</string>
			</array>
			<key>Title</key>
			<string>License</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Peter van den Hamer</string>
			<key>Key</key>
			<string>owner</string>
			<key>Title</key>
			<string>Repository owner</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Turning debug options on will enable non-standard behavior. This is used for software testing purposes. See Settings.swift source file for more info.</string>
			<key>Title</key>
			<string>Debug options</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>manualDataLoading</string>
			<key>Title</key>
			<string>Load data manually</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>extraCoreDataSaves</string>
			<key>Title</key>
			<string>Extra saving of data</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>dataResetPending292b4657</string>
			<key>Title</key>
			<string>Data refresh pending</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>errorOnCoreDataMerge</string>
			<key>Title</key>
			<string>CoreData merge issue terminates app</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Settings</string>
</dict>
</plist>
